<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">
<head th:include="include/layout :: htmlhead"><title>Books</title></head>
<body>
<nav th:replace="include/layout :: navbar"></nav>

<main>
    <div class="container py-4">
        <h1>Seus livros</h1>
        <div th:if="${message}" th:text="${message}" class="alert alert-primary alert-dismissible fade show mt-3">
        </div>
        <table class="table table-hover">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Descri&ccedil;&atilde;o</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <th:block th:each="book : ${books}">
                <tr>
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.description}"></td>
                    <td><a th:href="@{/update/{bookId}(bookId=${book.id})} ">Alterar</a></td>
                    <td><a th:href="@{/remove/{bookId}(bookId=${book.id})} ">Excluir</a></td>
                </tr>
            </th:block>
        </table>
    </div>
</main>
</body>
</html>